<nav class="navbar" id="top">
    <a href="/" class="navbar__logo"><img width="250" height="65" src="/images/rhosigma-logo.svg"
            alt="Rhosigma Logo"></a>
    <div class="menu-container">
        <ul class="mega-menu">
            <li class="dropdown">
                <div class="navlink">
                    <span><a href="/about-us">About Us</a></span>
                    <span></span>
                </div>
            </li>

            <li class="dropdown">
                <div class="navlink">
                    <span><a href="/services">Services</a></span>
                    <span></span>
                </div>
                <div class="menu">
                    <div class="container mega-menu__card-container">

                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/firmware-development">
                            <img width="155" height="120" loading="eager" src="/images/firmware-development_.webp"
                                alt="firmware development">
                            <span>Firmware Development</span>
                        </a>

                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/hardware-development">
                            <img width="155" height="120" loading="eager" src="/images/hardware-development.webp"
                                alt="Hardware Development">
                            <span>Hardware Development</span>
                        </a>

                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/reverse-engineering">
                            <img width="155" height="120" loading="eager" src="/images/reverse-engineering_6.webp" alt="Reverse 
                            Engineering">
                            <span> Reverse Engineering</span>
                        </a>

                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/hart">
                            <img width="155" height="120" loading="eager"
                                src="/images/revolutionizing-telecommunications-infrastructure_6.webp" alt="HART">
                            <span>HART</span>
                        </a>


                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/ai-ml">
                            <img width="155" height="120" loading="eager" src="/images/ai-ml.webp" alt="AI / ML">
                            <span>AI / ML</span>
                        </a>
                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/design-and-engineering">
                            <img width="155" height="120" loading="eager"
                                src="/images/new-img/design-engineering-1.webp" alt="DESIGNING AND ENGINEERING">
                            <span>Design & Engineering</span>
                        </a>
                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/manufacturing-support">
                            <img width="155" height="120" loading="eager" src="/images/new-img/testing-quality.webp"
                                alt="MANUFACTURING SUPPORT">
                            <span>Manufacturing Support</span>
                        </a>
                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/internet-of-things">
                            <img width="155" height="120" loading="eager" src="/images/new-img/iot1.webp" alt="IOT">
                            <span>IoT</span>
                        </a>
                        <a class="mega-menu__card fc-s fw-5 h5 t-cap" href="/services/testing-and-quality">
                            <img width="155" height="120" loading="eager" src="/images/new-img/testing-1.webp"
                                alt="TESTING & QUALITY">
                            <span>Testing & Quality</span>
                        </a>

                    </div>
                </div>
            </li>

            <li class="dropdown">
                <div class="navlink">
                    <span><a href="/approach">Approach</a></span>
                    <span></span>
                </div>
            </li>

            <li class="dropdown">
                <div class="navlink">
                    <span><a href="/industries">Industries</a></span>
                    <span></span>
                </div>
            </li>

            <li class="dropdown">
                <div class="navlink">
                    <span><a href="/contact-us">Contact</a></span>
                    <span></span>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons">
        <a href="/contact-us" class="rhosigma-btn">Contact</a>
        <img class="menu-btn" src="/images/hamburger.svg" alt="hamburger">
    </div>
</nav>


<!-- ! Scroll Progress Bar -->
<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
</div>
<!-- ! Scroll Progress Bar -->