<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Roshigma: Landing page</title>
  <link rel="stylesheet" href="css/lp.css" />
  <meta name="discription"
    content="Rhosigma powers success from IoT to Defense. Explore tech solutions and expertise in electronic product & technology design, development, and manufacturing." />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <meta name="robots" content="max-image-preview:large, max-snippet:-1, max-video-preview:-1 " />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://www.googletagmanager.com/" crossorigin />

  <!-- Open Graph meta tags for social sharing -->
  <meta property="og:title" content="Rhosigma: Igniting Innovation in Electronic Products Tech!" />
  <meta property="og:description"
    content="Rhosigma powers success from IoT to Defense. Explore tech solutions and expertise in electronic product & technology design, development, and manufacturing." />
  <meta property="og:url" content="https://http://localhost:3000/lp" />
  <link rel="canonical" href="https://http://localhost:3000/lp" />
  <!-- Twitter Card meta tags for Twitter sharing -->
  <meta name="twitter:title" content="Rhosigma: Igniting Innovation in Electronic Products Tech!" />
  <meta name="twitter:description"
    content="Rhosigma powers success from IoT to Defense. Explore tech solutions and expertise in electronic product & technology design, development, and manufacturing." />

  <meta property="og:image" content="https://http://localhost:3000/lp/images/mainbanner.webp" />

  <meta property="og:type" content="website" />
  <meta property="og:image:width" content="2400" />
  <meta property="og:image:height" content="1260" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@rhosigma" />
  <meta name="twitter:image" content="https://rhosigma.in/images/mainbanner.webp" />
  <meta name="theme-color" content="#2E5BAB" />
</head>

<body>
  <header class="navbar-header-divs mobile-header">
    <div class="ascent-container navbar-header-spans">
      <span class="email"><a href="https://mail.google.com/">info@rhosigma.in</a></span>
      <span class="india-logo">
        <img src="images/india-logo.svg" alt="india-logo">
        <span class="no-wrap number"><a href='tel:+18001111111' class="ui-link">+91 86555 87403</a> </span>
      </span>

    </div>
  </header>

  <nav class="ascent-container mobile-navbar">
    <div class="container0">
      <div class="first-img">
        <a href="/">
          <img class="" src="images/rhosigma-logo.webp" alt="phone-icon" loading="eager" width="240" height="200" />
        </a>
      </div>

      <div id="i" class="inav">
        <svg width="50px" height="50px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
          <g id="SVGRepo_bgCarrier" stroke-width="0" />

          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

          <g id="SVGRepo_iconCarrier">
            <title>Menu</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Menu">
                <rect id="Rectangle" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
                <line x1="5" y1="7" x2="19" y2="7" id="Path" stroke="#266ab7" stroke-width="2" stroke-linecap="round">
                </line>
                <line x1="5" y1="17" x2="19" y2="17" id="Path" stroke="#266ab7" stroke-width="2" stroke-linecap="round">
                </line>
                <line x1="5" y1="12" x2="19" y2="12" id="Path" stroke="#266ab7" stroke-width="2" stroke-linecap="round">
                </line>
              </g>
            </g>
          </g>
        </svg>
      </div>

      <div>
        <ul id="nav" class="nav">
          <img class="" src="images/rhosigma-logo.webp" alt="phone-icon" loading="eager" width="245" height="66" />

          <div class="nav-menu-flex">
            <a href="/about-us">About</a>
            <a href="#services-page">Services</a>
            <a href="#industries-page">Industries</a>
            <span class="wrap-btn">
              <button class="bg-blue nav-btn li-size navbar-have-btn show-dialog">
                <span class="default-text">Have an idea?</span>
                <span class="hover-text">Let's Talk</span>
              </button>
            </span>
          </div>
        </ul>
      </div>

      <span class="wrap-btn-nav">
        <button class="bg-blue nav-btn li-size navbar-have-btn show-dialog">
          <span class="default-text">Have an idea?</span>
          <span class="hover-text">Let's Talk</span>
        </button>
      </span>
    </div>
  </nav>

  <nav class="nav-desktop">
    <header class="navbar-header-divs">
      <div class="ascent-container navbar-header-spans">
        <span class="email"><a href="https://mail.google.com/">info@rhosigma.in</a></span>
        <span class="india-logo">
          <img src="images/india-logo.svg" alt="india-logo">
          <span class="no-wrap number"><a href='tel:+18001111111' class="ui-link">+91 86555 87403</a> </span>
        </span>

      </div>
    </header>
    <div class="navbar-desktop ascent-container">
      <div>
        <a href="/"><img class="" src="/images/rhosigma-logo.webp" alt="phone-icon" loading="eager" width="245"
            height="66" /></a>
      </div>
      <div class="li-flex">
        <ul>
          <a href="/about-us">
            <li>About</li>
          </a>
          <a href="#services-page">
            <li>Services</li>
          </a>
          <a href="#industries-page">
            <li>Industries</li>
          </a>
        </ul>
      </div>
      <div>
        <span class="wrap-btn-desktop">
          <button class="bg-blue nav-btn li-size navbar-have-btn show-dialog">
            <span class="default-text">Have an idea?</span>
            <span class="hover-text">Let's Talk</span>
          </button>
        </span>
      </div>
    </div>
  </nav>


  <div class="social-buttons-desktop">
    <div class="whats-float">
      <a href='tel:+18001111111' class="ui-link">
        <img src="images/phone-icon.svg" alt="phone-icon" width="35" height="35" loading="lazy"
          loading="eager"><span>Phone</span>
      </a>
    </div>

    <div class="whats2-float">
      <a href="https://wa.me/1234567890" target="_blank">
        <img src="images/whatsapp-icon.svg" alt="whatsapp-icon" width="35" height="35" loading="lazy"
          loading="eager"><span>WhatsApp</span>
      </a>
    </div>

    <div class="whats3-float">
      <a href="mailto:example@example.com" target="_blank">
        <img src="images/gmail-icon.svg" alt="rmail-icon" width="35" height="35" loading="lazy"
          loading="eager"><span>Gmail</span>
      </a>
    </div>
  </div>


  <div class="social-buttons-mobile">
    <div class="social-button-phone">
      <a href='tel:+18001111111' class="ui-link">
        <img src="images/phone-icon.svg" alt="phone-icon" width="25" height="25" loading="lazy" loading="eager"><span
          class="span-phone">Phone</span>
      </a>
    </div>
    <div class="get-quote">
      <span class="show-dialog">Get Quote</span>
    </div>
    <div class="social-button-whatsapp">
      <a href="https://wa.me/1234567890" target="_blank">
        <img src="images/whatsapp-icon.svg" alt="whatsapp-icon" width="25" height="25" loading="lazy"
          loading="eager"><span class="span-wts">WhatsApp</span>
      </a>
    </div>
  </div>


  <!-- partial -->



  <div class="backgroundImage">
    <div class="content-wrapper"></div>
    <div class="ascent-container main-section-content">
      <div class="main-text">
        <h1 class="h1">Product Developer Solutions From Concent to Launch</h1>
        <p class="">
          Your Partner is Firmware, Hardware, Mechanical Design, Testing,
          Compliance&Certification
        </p>
      </div>

      <div class="main-section-form">
        <span class="text-blue h2 text-weight small-norwrap">Discuss Your Project</span>

        <p class="fc-s p-weight">
          Talk to our experts about the best approach for your goals.
        </p>

        <form action="/contact-us" method="post" id='lpForm' onsubmit="handleFormSubmit(event, 'lpForm')">
          <div class="">
            <label class="p-weight form-lebel-text label-color" for="name">Name</label>
            <input class="p-weight fc-s input-class" type="text" id="name" name="name" placeholder="Enter name" required
              maxlength="50" oninput="this.value=this.value.replace(/[^a-zA-Z\s]/g,'')"
              onblur="validateName('lpForm')" />
            <p id="nameError" class="error-message"></p>
          </div>

          <label class="p-weight form-lebel-text label-color" for="phone">Phone</label>
          <div class="">
            <!-- <input class="p-weight fc-s input-class" type="tel" id="" class="phone" placeholder="Enter phone" /> -->
            <input class="p-weight fc-s input-class" type="tel" id="phone" placeholder="Enter phone" required
              autocomplete="off" name="phone" maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
              onblur="validatePhone('lpForm')" />
            <p id="phoneError" class="error-message"></p>

          </div>

          <label class="p-weight form-lebel-text label-color" for="email">Email</label>
          <div class="">
            <!-- <input class="p-weight fc-s input-class" type="email" id="email" class="email" placeholder="Enter email" /> -->
            <input class="p-weight fc-s input-class" type="email" id="email" name="email" placeholder="Enter email"
              required onblur="validateEmail('lpForm')" />
            <p id="emailError" class="error-message"></p>
          </div>

          <label class="p-weight form-lebel-text label-color" for="message">Message</label>
          <div class="">
            <textarea class="input-class p-weight fc-s" name="message" id="message" placeholder="Type your requirements"
              autocomplete="off" rows="3"></textarea>
            <p id="messageError" class="error-message"></p>
          </div>

          <button class="submit-btn main-form-btn show-dialog" type="submit">Get a Custome Solution</button>
          <p class="form-message m-t-20"></p>
        </form>
      </div>
    </div>
  </div>

  <section class="bg-blue">
    <div class="partners ascent-container">
      <img loading="lazy" class="paneter-img" src="images/analog-devices.webp" alt="analogImage" />
      <img loading="lazy" class="paneter-img" src="images/toradex.webp" alt="toradexImage" />
      <img loading="lazy" class="paneter-img" src="images/texus-instruments.webp" alt="texusImage" />
      <img loading="lazy" class="paneter-img" src="images/atmel.webp" alt="atmelImage" />
      <img loading="lazy" class="paneter-img" src="images/st-life-augmented.webp" alt="st-lifeImage" />
      <img loading="lazy" class="paneter-img" src="images/maxim-integrated.webp" alt="maxim-integratedImage" />
      <img loading="lazy" class="paneter-img" src="images/esp32.webp" alt="espImage" />
    </div>
  </section>

  <section class="ascent-container transforming-ideas-section">
    <div class="transforming-ideas-sections">
      <div class="transforming-ideas-texts">
        <h2 class="text-blue h2 h2-text-weight heading">
          Transforming Ideas into Market-Ready Products
        </h2>
        <p class="p-all-text line-height">
          With a focus on precision and quality, we provide full-cycle product
          development service to help bring innovative products to market
          efficiently. From concept and design to testing and certification,
          our team ensures that every product meets industry standards and is
          ready for real-world performance.
        </p>
        <a href="https://rhosigma.in/"><button class="bg-blue explore-service-btn li-size">
            Explore Our service
          </button></a>
      </div>
      <div class="transforming-ideas-imgsection">
        <img loading="lazy" class="transforming-ideas-firstimg" src="images/iot.webp" alt="iotImage" width="600"
          height="300" />
        <img loading="lazy" class="transforming-ideas-secondimg" src="images/hearing.webp" alt="hearingImage"
          width="300" height="300" />
        <img loading="lazy" class="transforming-ideas-thirdimg" src="images/time&date.webp" alt="time&dateImage"
          width="300" height="300" />
      </div>
    </div>
  </section>

  <section class="bg-primary comprehensive-product-development-section" id="services-page">
    <div class="ascent-container comprehensive-product-development-sections">
      <h2 class="text-blue h2 h2-text-weight heading">
        Comprehensive Product Development service
      </h2>
      <p class="p-all-text line-height">
        Rhosigma is your go-to partner for electronic innovation. We're not
        just a service provider; we're your dedicated ally, ensuring your
        electronic aspirations become a reality with precision and innovation.
      </p>
    </div>

    <div class="firmware-development-section ascent-container">
      <img loading="lazy" class="firmware-development-img" src="images/firmware-development_.webp"
        alt="firmware-developmentImage" width="400" height="400" />
      <div class="text-flex">
        <h3 class="h3 text-blue h3-text-weight">Firmware Developement</h3>
        <p class="p-all-text line-height">
          Custom-built, secure firmware to power your products with
          reliability and adaptability, ensuring seamless performance across
          various platforms.
        </p>

        <i class="p-all-text">Our firmware development-specific service include:</i>

        <div class="Comprehensive Product Development service">
          <div class="services">
            <div class="service">
              <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
              <p class="fc-s p-weight">System Architecture</p>
            </div>
            <div class="service">
              <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
              <p class="fc-s p-weight">Electronic Design & Development</p>
            </div>
            <div class="service">
              <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
              <p class="fc-s p-weight">RTOS/ OS/ Bare Metal Applications</p>
            </div>

            <div class="service">
              <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
              <p class="fc-s p-weight">Porting and Optimization</p>
            </div>
            <div class="service">
              <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
              <p class="fc-s p-weight">BSP/Device Drivers</p>
            </div>
            <div class="service">
              <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
              <p class="fc-s p-weight">System Integration and Security</p>
            </div>
          </div>
        </div>
        <button class="bg-blue li-size firmware-btn show-dialog">
          Get a Custom Solution
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
            <path
              d="M6.0002 2.23926H4.2002C3.08009 2.23926 2.51962 2.23926 2.0918 2.45724C1.71547 2.64899 1.40973 2.95473 1.21799 3.33105C1 3.75888 1 4.31935 1 5.43945V13.0395C1 14.1596 1 14.7193 1.21799 15.1471C1.40973 15.5235 1.71547 15.8297 2.0918 16.0215C2.5192 16.2393 3.07899 16.2393 4.19691 16.2393H11.8031C12.921 16.2393 13.48 16.2393 13.9074 16.0215C14.2837 15.8297 14.5905 15.5232 14.7822 15.1468C15 14.7194 15 14.1603 15 13.0423V11.2393M16 6.23926V1.23926M16 1.23926H11M16 1.23926L9 8.23926"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="hardware-development-section ascent-container">
      <div class="text-flex">
        <h3 class="h3 text-blue h3-text-weight">Hardware Development</h3>
        <p class="p-all-text line-height">
          We provide end-to-end hardware design, from initial schematics to
          prototyping, delivering durable products tailored to your
          specifications.
        </p>

        <i class="p-all-text">Our hardware development services include:</i>

        <div class="services">
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">High-Speed Digital Circuit Design</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Analog Circuit Design</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Sensor Interfaces</p>
          </div>

          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Lower Power Circuit Design</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Signal Integrity</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Power Integrity Isolation</p>
          </div>
        </div>
        <button class="bg-blue li-size hardware-btn show-dialog">
          Get a Custom Solution
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
            <path
              d="M6.0002 2.23926H4.2002C3.08009 2.23926 2.51962 2.23926 2.0918 2.45724C1.71547 2.64899 1.40973 2.95473 1.21799 3.33105C1 3.75888 1 4.31935 1 5.43945V13.0395C1 14.1596 1 14.7193 1.21799 15.1471C1.40973 15.5235 1.71547 15.8297 2.0918 16.0215C2.5192 16.2393 3.07899 16.2393 4.19691 16.2393H11.8031C12.921 16.2393 13.48 16.2393 13.9074 16.0215C14.2837 15.8297 14.5905 15.5232 14.7822 15.1468C15 14.7194 15 14.1603 15 13.0423V11.2393M16 6.23926V1.23926M16 1.23926H11M16 1.23926L9 8.23926"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <img loading="lazy" class="hardware-development-img" src="images/hardware-development.webp"
        alt="hardware-developmentImage" width="400" height="400" />
    </div>
  </section>

  <section class="bg-primary mechaical-design-section">
    <div class="mechaical-design-sections ascent-container">
      <img loading="lazy" class="mechaical-design-img" src="images/mechanical-design.webp" alt="mechaical-designImage"
        width="400" height="400" />
      <div class="text-flex">
        <h3 class="h3 text-blue h3-text-weight">Mechanical Designing</h3>
        <p class="p-all-text line-height">
          Precision mechanical design services that enhance product
          durability, functionality, and efficiency for optimal performance in
          any environment.
        </p>

        <i class="p-all-text">Our mechanical design services include:</i>

        <div class="services">
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">New Product Development</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Analog Circuit Design</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Machine Design</p>
          </div>

          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Product Engineering</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Computer Aided Engineering</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Tools & Fixtures Design</p>
          </div>
        </div>
        <button class="bg-blue li-size mechaical-design-btn show-dialog">
          Get a Custom Solution
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
            <path
              d="M6.0002 2.23926H4.2002C3.08009 2.23926 2.51962 2.23926 2.0918 2.45724C1.71547 2.64899 1.40973 2.95473 1.21799 3.33105C1 3.75888 1 4.31935 1 5.43945V13.0395C1 14.1596 1 14.7193 1.21799 15.1471C1.40973 15.5235 1.71547 15.8297 2.0918 16.0215C2.5192 16.2393 3.07899 16.2393 4.19691 16.2393H11.8031C12.921 16.2393 13.48 16.2393 13.9074 16.0215C14.2837 15.8297 14.5905 15.5232 14.7822 15.1468C15 14.7194 15 14.1603 15 13.0423V11.2393M16 6.23926V1.23926M16 1.23926H11M16 1.23926L9 8.23926"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>
  </section>

  <section>
    <div class="hardware-development-section ascent-container">
      <div class="text-flex">
        <h3 class="h3 text-blue h3-text-weight">
          Testing, Compliance & Certification
        </h3>
        <p class="p-all-text line-height">
          Comprehensive testing and certification to meet all industry
          standards, ensuring your product is reliable, compliant, and ready
          for deployment.
        </p>

        <i class="p-all-text">Our testing compliance and certification services include:</i>

        <div class="services">
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Test Planning & Execution</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Validation & Verification</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Compliance Testing</p>
          </div>

          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Test Automation</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Maintenance</p>
          </div>
          <div class="service">
            <img loading="lazy" src="images/right-arrow.webp" alt="arrowImage" />
            <p class="fc-s p-weight">Environment Configuration</p>
          </div>
        </div>
        <button class="bg-blue li-size hardware-btn show-dialog">
          Get a Custom Solution
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
            <path
              d="M6.0002 2.23926H4.2002C3.08009 2.23926 2.51962 2.23926 2.0918 2.45724C1.71547 2.64899 1.40973 2.95473 1.21799 3.33105C1 3.75888 1 4.31935 1 5.43945V13.0395C1 14.1596 1 14.7193 1.21799 15.1471C1.40973 15.5235 1.71547 15.8297 2.0918 16.0215C2.5192 16.2393 3.07899 16.2393 4.19691 16.2393H11.8031C12.921 16.2393 13.48 16.2393 13.9074 16.0215C14.2837 15.8297 14.5905 15.5232 14.7822 15.1468C15 14.7194 15 14.1603 15 13.0423V11.2393M16 6.23926V1.23926M16 1.23926H11M16 1.23926L9 8.23926"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <img loading="lazy" class="hardware-development-img" src="images/testing.webp" alt="hardware-developmentImage"
        width="400" height="400" />
    </div>
  </section>

  <section class="bg-blue">
    <div class="ascent-container">
      <form class="form-section" action="/contact-us" method="post" id='lpExpertForm'
        onsubmit="handleFormSubmit(event, 'lpExpertForm')" class="form-section">
        <p class="h3 form-p">Discuss with experts</p>

        <div class="">

          <input class="form-input" type="text" id="name" name="name" placeholder="Name*" required maxlength="50"
            oninput="this.value=this.value.replace(/[^a-zA-Z\s]/g,'')" onblur="validateName('lpExpertForm')" />
          <p id="nameError" class="error-message"></p>
        </div>

        <div class="">
          <input class="form-input" type="tel" id="phone" placeholder="Phone*" required autocomplete="off" name="phone"
            maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
            onblur="validatePhone('lpExpertForm')" />
          <p id="phoneError" class="error-message"></p>

        </div>

        <div class="">
          <input class="form-input" type="email" id="email" name="email" placeholder="Email*" required
            onblur="validateEmail('lpExpertForm')" />
          <p id="emailError" class="error-message"></p>
        </div>

        <button class="form-btn li-size custom-creactive-btn">Submit</button>
      </form>
    </div>
  </section>

  <section class="experties-section">
    <div class="experties-sections ascent-container">
      <h2 class="text-blue h2 h2-text-weight heading">
        Driven by Expertise and Innovation
      </h2>
      <p class="p-all-text line-height">
        Our team brings together years of experience and a deep understanding
        of the product development lifecycle. From innovative firmware
        solutions to cutting-edge mechanical engineering, we combine technical
        expertise with industry insight to deliver products that exceed
        expectations.
      </p>
    </div>

    <div class="engineering-options ascent-container">
      <div class="industry-flex">
        <img loading="lazy" src="images/industry.svg" alt="industryImage" />

        <div>
          <h2 class="italic-text">Industry Knowledge</h2>
          <p class="p-text-color industry-flex-p line-height">
            Our development process is meticulously documented and audited,
            ensuring every component and connection reflects our unwavering
            commitment to excellence.
          </p>
        </div>
      </div>
      <div class="technical-flex">
        <img loading="lazy" src="images/microchip.svg" alt="microchipImage" />
        <div>
          <h2 class="italic-text">Technical Proficiency</h2>
          <p class="p-text-color commitment-flex-p line-height">
            From miniaturization techniques to advanced prototyping tools, we
            leverage the cutting edge to deliver products that are not only
            reliable but also future-proof.
          </p>
        </div>
      </div>
      <div class="commitment-flex">
        <img loading="lazy" src="images/diamond.svg" alt="diamondImage" />

        <div>
          <h2 class="italic-text h2-text-weight">Commitment to Quality</h2>
          <p class="p-text-color technical-flex-p line-height">
            Our team comprises seasoned engineers with decades of experience
            in diverse hardware domains. From analog circuits to complex
            digital system.
          </p>
        </div>
      </div>
      <div class="customize-flex">
        <img loading="lazy" src="images/workflow.svg" alt="workflowImage" />
        <div>
          <h2 class="italic-text">Customized Approach</h2>
          <p class="p-text-color customize-flex-p">
            Our portfolio is a testament to our dedication to excellence.
            We've partnered with countless clients across various industries,
            from medical device manufacturers.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="partner-section" style="background-image: url(images/background-image.webp)">
    <div class="content-inside">
      <div class="partner-sections ascent-container">
        <img loading="lazy" src="images/why-partner-withus.webp" alt="why-partner-withusImage" width="450"
          height="450" />
        <div class="why-partner-flex">
          <h2 class="h2 h2-text-weight heading text-white">
            Why Partner with Us for Product Development?
          </h2>
          <p class="text-white p-all-text line-height">
            We are committed to providing solutions that not only meet but
            exceed industry standards. Our technologies are designed to adapt,
            evolve, and empower your business for long-term success.
          </p>
          <div class="why-partner-options">
            <span class="option-one">
              <img loading="lazy" src="images/cost-effective-solutions.webp" alt="cost-effective-solutionsImage" />
              <h2 class="italic-text-color no-wrap">
                Cost-Effective Solutions
              </h2>
            </span>

            <span class="option-one">
              <img loading="lazy" src="images/tailored-services.webp" alt="" />
              <h2 class="italic-text-color">Tailored Services</h2>
            </span>

            <span class="option-one">
              <img loading="lazy" src="images/reliability&security.webp" alt="" />
              <h2 class="italic-text-color">Reliability & Security</h2>
            </span>

            <span class="option-one">
              <img loading="lazy" src="images/full-cycle-developement.webp" alt="" />
              <h2 class="italic-text-color no-wrap">
                Full-Cycle Development
              </h2>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="industries-page">
    <div class="ascent-container solutions-diverse-industries">
      <h2 class="text-blue h2 h2-text-weight heading">
        Solutions for Diverse Industries
      </h2>
      <p class="p-all-text mt">
        We provide tailored product development services across multiple
        industries, ensuring that every product we deliver meets the unique
        demands of each field.
      </p>
    </div>

    <div class="ascent-container solutions-diverse-industries-grid">
      <div class="ecommerce-flex">
        <img loading="lazy" src="images/ecommerce.svg" alt="ecommerceImage" />

        <div>
          <h2 class="italic-text">eCommerce</h2>
          <p class="p-text-color industry-flex-p">
            Boost your online store's performance with expert eCommerce
            solutions.
          </p>
        </div>
      </div>
      <div class="ondemand-flex">
        <img loading="lazy" src="images/ondemand.svg" alt="ondemandImage" />
        <div>
          <h2 class="italic-text">On Demand</h2>
          <p class="p-text-color commitment-flex-p">
            Advanced on-demand app development tailored for modern service
            needs.
          </p>
        </div>
      </div>
      <div class="logistic-flex">
        <img loading="lazy" src="images/logistic.svg" alt="logisticImage" />

        <div>
          <h2 class="italic-text h2-text-weight">Logistics & Transport</h2>
          <p class="p-text-color technical-flex-p">
            Optimize logistics with advanced supply chain management
            solutions.
          </p>
        </div>
      </div>
      <div class="gaming-flex">
        <img loading="lazy" src="images/gaming.svg" alt="gamingImage" />
        <div>
          <h2 class="italic-text">Gaming & Leisure</h2>
          <p class="p-text-color customize-flex-p">
            Enhance user experience with VR and advanced gaming
            technology.ers.
          </p>
        </div>
      </div>
      <div class="realstate-flex">
        <img loading="lazy" src="images/realstate.svg" alt="realstateImage" />
        <div>
          <h2 class="italic-text">Real Estate</h2>
          <p class="p-text-color customize-flex-p">
            Manage property efficiently with innovative solutions for real
            estate.
          </p>
        </div>
      </div>
      <div class="education-flex">
        <img loading="lazy" src="images/education.svg" alt="educationImage" />
        <div>
          <h2 class="italic-text">Education & eLearning</h2>
          <p class="p-text-color customize-flex-p">
            Connecting teachers and students through custom eLearning
            solutions.
          </p>
        </div>
      </div>
      <div class="fitness-flex">
        <img loading="lazy" src="images/fitness.svg" alt="fitnessImage" />
        <div>
          <h2 class="italic-text">Fitness</h2>
          <p class="p-text-color customize-flex-p">
            Streamline gym operations with attendance and fitness tracking.
          </p>
        </div>
      </div>
      <div class="food-restaurent-flex">
        <img loading="lazy" src="images/food&restaurent.svg" alt="food&restaurentImage" />
        <div>
          <h2 class="italic-text">Food & Restaurants</h2>
          <p class="p-text-color customize-flex-p">
            Empowering food businesses with software solutions.
          </p>
        </div>
      </div>
      <div class="plane-flex">
        <img loading="lazy" src="images/travel-plane.svg" alt="planeImage" />
        <div>
          <h2 class="italic-text">Travel and Hospitality</h2>
          <p class="p-text-color customize-flex-p">
            Expand reach with online solutions for travel and hospitality
            industries.
          </p>
        </div>
      </div>
      <div class="manufacturing-flex">
        <img loading="lazy" src="images/manufacturing.svg" alt="manufacturingImage" />
        <div>
          <h2 class="italic-text">Manufacturing</h2>
          <p class="p-text-color customize-flex-p">
            Expand reach with online solutions for travel and hospitality
            industries.
          </p>
        </div>
      </div>
      <div class="constructions-flex">
        <img loading="lazy" src="images/construction.svg" alt="constructionsImage" />
        <div>
          <h2 class="italic-text">Constructions</h2>
          <p class="p-text-color customize-flex-p">
            Expand reach with online solutions for travel and hospitality
            industries.
          </p>
        </div>
      </div>
      <div class="industrial-iot-flex">
        <img loading="lazy" src="images/industrial-iot.svg" alt="industrial-iotImage" />
        <div>
          <h2 class="italic-text">Industrial IoT</h2>
          <p class="p-text-color customize-flex-p">
            Expand reach with online solutions for travel and hospitality
            industries.
          </p>
        </div>
      </div>
      <div class="startups-flex">
        <img loading="lazy" src="images/startups.svg" alt="startupsImage" />
        <div>
          <h2 class="italic-text">Startups</h2>
          <p class="p-text-color customize-flex-p">
            Expand reach with online solutions for travel and hospitality
            industries.
          </p>
        </div>
      </div>
      <div class="agricultures-flex">
        <img loading="lazy" src="images/agricultures.svg" alt="agriculturesImage" />
        <div>
          <h2 class="italic-text">Agricultures</h2>
          <p class="p-text-color customize-flex-p">
            Expand reach with online solutions for travel and hospitality
            industries.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="product-developed-section" style="background-image: url(images/background-image.webp)">
    <div class="content-wrappes">
      <div class="product-developed-container ascent-container">
        <h2 class="h2 h2-text-weight heading text-white">
          Products we developed
        </h2>
        <p class="text-white p-all-text line-height">
          Rhosigma is your go-to partner for electronic innovation. We're not
          just a service provider; we're your dedicated ally, ensuring your
          electronic aspirations become a reality with precision & innovation.
        </p>

        <div class="product-we-developed">
          <div class="turbine-meter-images">
            <div class="default-image">
              <img class="" src="images/turbine-flow-meter.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>
            </div>

            <div class="animate-image">
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>

              <div class="animate-image-p-tags">
                <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
                <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
                <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
                <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
              </div>

            </div>
          </div>


          <div class="turbine-meter-images">
            <div class="default-image">
              <img class="" src="images/temprature-transmitter.webp" alt="temprature-transmitter" width="450"
                height="460" loading="lazy" loading="eager" />
              <h4 class="h4">Temperature Transmitter</h4>
            </div>

            <div class="animate-image">
              <img class="" src="images/temprature-transmitter-about.webp" alt="turbine-flow-meter" width="450"
                height="460" loading="lazy" loading="eager" />
              <h4 class="h4">Temperature Transmitter</h4>

              <div class="animate-image-p-tags">
                <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent, and chemicals</p>
                <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
                <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
                <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
              </div>

            </div>
          </div>

          <div class="turbine-meter-images">
            <div class="default-image">
              <img class="" src="images/gas-detector.webp" alt="gas-detector" width="450" height="460" loading="lazy"
                loading="eager" />
              <h4 class="h4">Gas Detector</h4>
            </div>

            <div class="animate-image">
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>

              <div class="animate-image-p-tags">
                <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
                <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
                <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
                <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
              </div>

            </div>
          </div>

          <div class="turbine-meter-images">
            <div class="default-image">
              <img class="" src="images/IoT-gateway.webp" alt="iot-gateway" width="450" height="460" loading="lazy"
                loading="eager" />
              <h4 class="h4">IoT Gateway</h4>
            </div>

            <div class="animate-image">
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>

              <div class="animate-image-p-tags">
                <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
                <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
                <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
                <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
              </div>

            </div>
          </div>
          <div class="turbine-meter-images">
            <div class="default-image">
              <img class="" src="images/IoT-gateway.webp" alt="iot-gateway" width="450" height="460" loading="lazy"
                loading="eager" />
              <h4 class="h4">IoT Gateway</h4>
            </div>

            <div class="animate-image">
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>

              <div class="animate-image-p-tags">
                <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
                <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
                <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
                <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
              </div>

            </div>
          </div>
          <div class="turbine-meter-images">
            <div class="default-image">
              <img class="" src="images/IoT-gateway.webp" alt="iot-gateway" width="450" height="460" loading="lazy"
                loading="eager" />
              <h4 class="h4">IoT Gateway</h4>
            </div>

            <div class="animate-image">
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>

              <div class="animate-image-p-tags">
                <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
                <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
                <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
                <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
              </div>

            </div>
          </div>

        </div>



        <div class="product-we-developed-mobileview">
          <div class="turbine-flow-flex">
            <span>
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>

            </span>
            <div class="animate-image-p-tags">
              <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
              <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
              <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
              <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
            </div>

          </div>
          <div class="temprature-transmitter-flex">
            <span>
              <img class="" src="images/temprature-transmitter-about.webp" alt="turbine-flow-meter" width="450"
                height="460" loading="lazy" loading="eager" />
              <h4 class="h4">Temperature Transmitter</h4>
            </span>

            <div class="animate-image-p-tags">
              <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent, and chemicals</p>
              <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
              <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
              <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
            </div>

          </div>
          <div class="turbine-flow-flex">
            <span>
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>
            </span>

            <div class="animate-image-p-tags">
              <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
              <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
              <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
              <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
            </div>

          </div>
          <div class="turbine-flow-flex">
            <span>
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>
            </span>

            <div class="animate-image-p-tags">
              <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
              <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
              <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
              <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
            </div>

          </div>
          <div class="turbine-flow-flex">
            <span>
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>

            </span>
            <div class="animate-image-p-tags">
              <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
              <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
              <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
              <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
            </div>

          </div>
          <div class="turbine-flow-flex">
            <span>
              <img class="" src="images/turbine-flow-meter-about.webp" alt="turbine-flow-meter" width="450" height="460"
                loading="lazy" loading="eager" />
              <h4 class="h4">Turbine Flow Meter</h4>
            </span>

            <div class="animate-image-p-tags">
              <p class="animate-image-p"><b class="text-size">|</b>For Clean Water, Solvent and chemicals</p>
              <p class="animate-image-p"><b class="text-size">|</b>High Accuracy 1% of Reading</p>
              <p class="animate-image-p"><b class="text-size">|</b>Pipe Size: 1/2” to 6”</p>
              <p class="animate-image-p"><b class="text-size">|</b>4-20mA, RS 485 Modbus, Pulse</p>
            </div>

          </div>
        </div>
        <button class="product-developed-btn li-size show-dialog">
          Get a Custom Solution
        </button>
      </div>
  </section>

  <section class="experties-section">
    <div class="experties-sections ascent-container">
      <h2 class="text-blue h2 h2-text-weight heading">
        Driving Innovation for Real-World Challenges
      </h2>
      <p class="p-all-text line-height">
        At Rhosigma, we embrace innovation to solve complex product
        development challenges. Whether it’s creating energy-efficient
        hardware, designing user-centric mechanical solutions, or ensuring
        firmware security, we approach every project with a commitment to
        pushing boundaries and delivering impactful results.
      </p>
    </div>

    <div class="innovation-options ascent-container">
      <div class="innovation-industry-flex">
        <img loading="lazy" src="images/industry.svg" alt="industryImage" />

        <div>
          <h2 class="italic-text">Client-Centric Solutions</h2>
          <p class="p-text-color industry-flex-p line-height">
            We collaborate closely to address your unique challenges.
          </p>
        </div>
      </div>
      <div class="innovation-technical-flex">
        <img loading="lazy" src="images/microchip.svg" alt="microchipImage" />
        <div>
          <h2 class="italic-text">Cutting-Edge Technology</h2>
          <p class="p-text-color commitment-flex-p line-height">
            Using the latest tools and techniques for superior outcomes.
          </p>
        </div>
      </div>
      <div class="innovation-commitment-flex">
        <img loading="lazy" src="images/diamond.svg" alt="diamondImage" />

        <div>
          <h2 class="italic-text h2-text-weight">
            Scalability and Adaptability
          </h2>
          <p class="p-text-color technical-flex-p line-height">
            Products designed to grow and evolve with your needs.
          </p>
        </div>
      </div>
      <div class="innovate-flex">
        <button class="bg-blue innovation-btn li-size show-dialog">
          See How We Innovate
        </button>
      </div>
    </div>
  </section>

  <section class="software-developement-section" style="background-image: url(images/background-image.webp)">
    <div class="content-inside">
      <div class="software-partner-container ascent-container">
        <div class="software-partner-flex">
          <h2 class="h2 h2-text-weight heading text-white">
            Embedded Software Development Process
          </h2>
          <p class="text-white p-all-text line-height">
            We analyze requirements, design systems, develop optimized code,
            rigorously test, integrate seamlessly, and provide deployment
            support for reliable solutions.
          </p>

          <div class="software-developement-container">
            <div>
              <span class="one">01</span>
              <img loading="lazy" src="images/initiation-line.svg" alt="lineImage" />
              <ul class="flex-one">
                <li>NDA signing</li>
                <li>Requirements solicitation and elicitation</li>
                <li>Scoping & effort estimate</li>
              </ul>
            </div>
            <div>
              <span class="two">02</span>
              <img loading="lazy" src="images/planning-line.svg" alt="lineImage" />
              <ul class="flex-two">
                <li>Requirement analysis</li>
                <li>Timeline, risk & communication planning</li>
                <li>Team setup</li>
              </ul>
            </div>
            <div>
              <span class="three">03</span>
              <img loading="lazy" src="images/developement-line.svg" alt="lineImage" />
              <ul class="flex-three">
                <li>Milestone 1, 2, 3...</li>
                <li>Firmware development</li>
                <li>Prototype development</li>
                <li>Quality assurance</li>
              </ul>
            </div>
            <div>
              <span class="four">04</span>
              <img loading="lazy" src="images/validation-line.svg" alt="lineImage" />
              <ul class="flex-four">
                <li>Firmware release</li>
                <li>Technical documentation</li>
                <li>Final deliverables review</li>
              </ul>
            </div>
            <div>
              <span class="five">05</span>
              <p class="five-p">Support & maintenance</p>
              <ul class="flex-five">
                <li>Firmware support (hotfix)</li>
                <li>Functionality improvements</li>
                <li>SDK or libraries update</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ascent-container">
    <div class="client-testimonials ascent-container">
      <h2 class="text-grey h2 h2-text-weight heading">Client testimonials</h2>
      <p class="p-all-text line-clamp line-height mt">
        Partner with Rhosigma for innovative, end-to-end product solutions,
        tailored designs, timely delivery, real-world reliability, and
        cost-effective services.
      </p>
    </div>
    <div class="swiper">
      <div class="profile-cards swiper-wrapper">
        <div class="profile-card swiper-slide">
          <div>
            <img loading="lazy" src="images/female-user.webp" alt="profileImage" width="60" height="60"
              loading="eager" />
          </div>
          <div>
            <h3 class="">Niharika Sharma</h3>
            <span class="profile-card-span">Directing Manager</span>
          </div>
          <p class="profile-card-p line-height line-height">
            Rhosigma delivered exceptional product quality and on-time
            results. Their dedication and expertise were key to our project's
            success.
          </p>
        </div>
        <div class="profile-card swiper-slide">
          <img loading="lazy" src="images/female-user.webp" alt="profileImage" width="60" height="60" loading="eager" />
          <h3 class="">Priya Iyer</h3>
          <span class="profile-card-span">Co-Founder</span>
          <p class="profile-card-p line-height">
            Rhosigma’s end-to-end product development services ensured our
            automotive solution met industry standards with precision and
            reliability.
          </p>
        </div>
        <div class="profile-card swiper-slide">
          <img loading="lazy" src="images/profile.webp" alt="profile" width="60" height="60" loading="eager" />
          <h3 class="">Aarav Patel</h3>
          <span class="profile-card-span">CEO</span>
          <p class="profile-card-p line-clamp line-height">
            Rhosigma delivered flawless firmware for our IoT devices,
            combining technical expertise with timely execution. Their
            attention to detail ensured smooth integration. Highly
            recommended!
          </p>
        </div>
        <div class="profile-card swiper-slide">
          <img loading="lazy" src="images/female-user.webp" alt="female-user" width="60" height="60" loading="eager" />
          <h3 class="">Sonal Desai</h3>
          <span class="profile-card-span">Co-Founder</span>
          <p class="profile-card-p line-clamp line-height">
            Rhosigma's firmware solutions were innovative and efficient. The
            team resolved complex challenges effortlessly, delivering robust
            and scalable firmware ahead of schedule. Excellent work!
          </p>
        </div>
        <div class="profile-card swiper-slide">
          <img loading="lazy" src="images/profile.webp" alt="profile" width="60" height="60" loading="eager" />
          <h3 class="">Vikram Mehta</h3>
          <span class="profile-card-span">Managing Director</span>
          <p class="profile-card-p line-height">
            Rhosigma delivered exceptional product quality and on-time
            results. Their dedication and expertise were key to our project's
            success.
          </p>
        </div>
        <div class="profile-card swiper-slide">
          <img loading="lazy" src="images/female-user.webp" alt="female-user" width="60" height="60" loading="eager" />
          <h3 class="">Meera Joshi</h3>
          <span class="profile-card-span">Founder</span>
          <p class="profile-card-p line-height">
            Rhosigma delivered exceptional product quality and on-time
            results. Their dedication and expertise were key to our project's
            success.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="footer-section" style="background-image: url(images/background-image.webp)">
    <div class="content-inside">
      <div class="ascent-container footer-section-content">

        <div class="footer-text">
          <h2 class="h1 footer-heading">
            Ready to Bring Your Product Vision to Life?
          </h2>
          <p class="text-white p-all-text line-height">
            Contact us to learn how we can help develop your next
            groundbreaking product.
          </p>
        </div>

        <form action="/contact-us" method="post" id='lpFooterForm' onsubmit="handleFormSubmit(event, 'lpFooterForm')"
          class="footer-form">

          <label class="p-weight fc-s form-lebel-text label-color" for="name">Full Name*</label>
          <div class="name-grid">
            <input class="p-weight fc-s input-class" type="text" id="name" name="name" placeholder="Full Name Here"
              required maxlength="50" oninput="this.value=this.value.replace(/[^a-zA-Z\s]/g,'')"
              onblur="validateName('lpFooterForm')" />
            <p id="nameError" class="error-message"></p>
          </div>

          <div class="email-flex">
            <label class="p-weight fc-s form-lebel-text label-color" for="email">Email*</label>
            <input class="p-weight fc-s input-class" type="email" id="email" name="email" placeholder="Enter Your Email"
              required onblur="validateEmail('lpFooterForm')" />
            <p id="emailError" class="error-message"></p>
          </div>

          <div class="phone-flex">
            <label class="p-weight fc-s form-lebel-text label-color" for="phone">Phone*</label>
            <input class="p-weight fc-s input-class input-color p-weight fc-s" type="tel" id="phone"
              placeholder="Enter Your phone" required autocomplete="off" name="phone" maxlength="15"
              oninput="this.value=this.value.replace(/[^0-9]/g,'')" onblur="validatePhone('lpFooterForm')" />
            <p id="phoneError" class="error-message"></p>

          </div>


          <label for="options" class="options p-all-text form-lebel-text">Select the desired service</label>
          <div>
            <span class="option-1">
              <input class="largerCheckbox" type="checkbox" name="firmware-developement" id="firmware-developement" />
              <p class="fc-s li-size option-1-text">
                Firmware-Developement
              </p>
            </span>
          </div>


          <div>
            <span class="option-2">
              <input class="largerCheckbox" type="checkbox" name="mechanical-developement"
                id="mechanical-developement" />
              <p class="fc-s li-size option-2-text">
                Mechanical-Developement
              </p>
            </span>
          </div>


          <div>
            <span class="option-3">
              <input class="largerCheckbox" type="checkbox" name="hardware-developement" id="hardware-developement" />
              <p class="fc-s li-size option-3-text">
                Hardware-Developement
              </p>
            </span>
          </div>

          <div>
            <span class="option-4">
              <input class="largerCheckbox" type="checkbox" name="testing&certifications-developement"
                id="testing&certifications-developement" />
              <p class="fc-s li-size option-4-text">
                Testing & Certifications
              </p>
            </span>
          </div>

          <div class="grid-message">
            <label for="form-message" class="form-lebel-text label-color">Message</label>
            <textarea name="message" id="message" rows="3" class="fc-s li-size input-class"
              placeholder="Your message here"></textarea>
          </div>
          <button class="footer-form-btn li-size submit-btn" type="submit">Submit</button>
          <p class="form-message m-t-20"></p>

        </form>
      </div>
    </div>
  </section>

  <section>
    <div class="scroll-button" onclick="scrolltopFunction()">
      <img class="scroll-btn-flex" src="images/arrow-up.webp" alt="Arrow" width="50" height="50" loading="lazy"
        loading="eager" />
    </div>
  </section>

  <footer class="footer">
    <div class="ascent-container footer-flex">
      <a href="/terms-of-use">
        <p class="company-condition no-wrap">Terms of Use</p>
      </a>
      <a href="/privacy-policy">
        <p class="company-policy no-wrap">Privacy Policy</p>
      </a>
      <p class="footer-p-tag no-wrap">
        Developed by <b class="margin-left"><a href="https://sovorun.com/">Sovorun</a></b>
      </p>
      <p class="footer-p-tag copyright">© 2023 RHOSIGMA. All rights reserved.</p>
    </div>
  </footer>


  <!-- !Modal -->
  <dialog id="dialog" class="">
    <form class="careers-detail__careers-form" action="/contact-us" method="post" id="quote-form"
      onsubmit="handleFormSubmit(event, 'quote-form')">
      <h2>Need help with anything..?
        Get in touch with us!</h2>
      <input name="name" type="text" id="name" placeholder="Name" required maxlength="50"
        oninput="this.value=this.value.replace(/[^a-zA-Z\s]/g,'')" onblur="validateName('quote-form')" />
      <span id="nameError" class="error-message"></span>

      <input name="phone" type="tel" id="phone" placeholder="Phone" required name="phone" maxlength="12"
        oninput="this.value=this.value.replace(/[^0-9]/g,'')" onblur="validatePhone('quote-form')" />
      <span id="phoneError" class="error-message"></span>

      <input type="email" id="email" name="email" placeholder="Email" required onblur="validateEmail('quote-form')" />
      <span id="emailError" class="error-message"></span>

      <select name="requirements" id="requirements" required>
        <option value="" disabled selected hidden>Firmware-Developement</option>
        <option value="Mechanical-Developemen">Mechanical-Developement</option>
        <option value="Hardware-Developement">Hardware-Developement</option>
        <option value="Testing & Certifications">Testing & Certifications</option>
        <option value="other">Other</option>
      </select>

      <svg class="close" fill="#266ab7" height="18px" width="18px" version="1.1" id="Capa_1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490"
        xml:space="preserve">
        <g id="SVGRepo_bgCarrier" stroke-width="1" />
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
        <g id="SVGRepo_iconCarrier">
          <polygon
            points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 " />
        </g>
      </svg>
      <button type="submit" class="get-quote__btn submit-btn modal-form-submit">
        Submit
      </button>
      <span class="form-message col-1"></span>
    </form>
  </dialog>
  <!-- !Modal -->

  <script src="https://www.google.com/recaptcha/api.js?render=6LfOISgqAAAAAD_8sXe_G-cjHyLQdA-hA5dWXDgv"></script>
  <script src="/javascript/main.js"></script>
  <script src="/javascript/swiper.js"></script>

  <script>
    const swiper = new Swiper(".swiper", {
      direction: "horizontal",
      loop: true,
      pagination: {
        el: '.swiper-pagination',
      },
      slidesPerView: 4,
      spaceBetween: 50,
      breakpoints: {
        // For screens between 320px and 499px: 1 box
        320: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        500: {
          slidesPerView: 2,
          spaceBetween: 10,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1440: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    });

    const scrollButton = document.querySelector(".scroll-button");

    function scrolltopFunction() {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 200) {
          scrollButton.style.display = "block";
        } else {
          scrollButton.style.display = "none";
        }
      });

      scrollButton.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    }

    scrolltopFunction();

    var nav = document.getElementById("nav"),
      i = document.getElementById("i"),
      c1 = document.getElementsByTagName("div")[2],
      c2 = document.getElementsByTagName("div")[3],
      c3 = document.getElementsByTagName("div")[4];
    i.addEventListener("click", function () {
      if (nav.className.match(/\bopen\b/)) {
        nav.classList.remove("open");
        c1.classList.remove("close-c1");
        c2.classList.remove("close-c2");
        c3.classList.remove("close-c3");
      } else {
        nav.classList.add("open");
        c1.classList.add("close-c1");
        c2.classList.add("close-c2");
        c3.classList.add("close-c3");
      }
    });
    nav.addEventListener("click", function () {
      nav.classList.remove("open");
      c1.classList.remove("close-c1");
      c2.classList.remove("close-c2");
      c3.classList.remove("close-c3");
    });


    // Modal JavaScript

    // ! Modal
    const dialog = document.getElementById("dialog");
    const openButtons = document.querySelectorAll(".show-dialog");
    const closeBtn = dialog.querySelector(".close");

    openButtons.forEach((e) => {
      e.addEventListener("click", () => {
        dialog.showModal();
      });
    });

    closeBtn.addEventListener("click", (e) => {
      e.preventDefault();
      dialog.close();
    });
    // ! Modal
  </script>

</body>

</html>